@import "colors";

#container {
  @include display-flex;
  @include flex-flow(row-wrap);
  @include flex-wrap(wrap);
  max-width: 1200px;
}

#header {
  @include flex(1 0 100%);
  padding: 20px 20px 5px 20px;
}

#nav {
  @include flex(1 0);
  padding: 5px 20px;
  ul li {
    @include adjust-font-size-to(12px);
    margin: 5px 0px;
    a {
      padding: 2px 10px;
      display: block;
    }
    &:nth-child(8n+1) {
      a:hover {
        background-color: color(pink);
        color: color(gray);
      }
      a {
        background-color: lighten(color(pink), 30%);
        color: color(pink);
      }
    }
    &:nth-child(8n+2) {
      a:hover {
        background-color: color(red);
        color: lighten(color(gray), 70%);
      }
      a {
        background-color: lighten(color(red), 30%);
        color: color(red);
      }
    }
    &:nth-child(8n+3) {
      a:hover {
        background-color: color(orange);
        color: color(gray);
      }
      a {
        background-color: lighten(color(orange), 30%);
        color: color(orange);
      }
    }
    &:nth-child(8n+4) {
      a:hover {
        background-color: color(yellow);
        color: color(gray);
      }
      a {
        background-color: lighten(color(yellow), 30%);
        color: color(yellow);
      }
    }
    &:nth-child(8n+5) {
      a:hover {
        background-color: color(green);
        color: color(gray);
      }
      a {
        background-color: lighten(color(green), 30%);
        color: color(green);
      }
    }
    &:nth-child(8n+6) {
      a:hover {
        background-color: color(teal);
        color: lighten(color(gray), 80%);
      }
      a {
        background-color: lighten(color(teal), 30%);
        color: color(teal);
      }
    }
    &:nth-child(8n+7) {
      a:hover {
        background-color: color(blue);
        color: lighten(color(gray), 70%);
      }
      a {
        background-color: lighten(color(blue), 30%);
        color: color(blue);
      }
    }
    &:nth-child(8n+8) {
      a:hover {
        background-color: color(purple);
        color: lighten(color(gray), 70%);
      }
      a {
        background-color: lighten(color(purple), 30%);
        color: color(purple);
      }
    }
  }
}

#content {
  padding: 5px 20px;
  @include flex(4 0);
}
